:root {
  --font-size-s: 13px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  /*--font-size-xxl: 13px;*/

  --line-height-s: 18px;
  --line-height-m: 21px;
  --line-height-l: 25px;
  --line-height-xl: 24px;
  --lin-height-xxl: 28px;
  /*--line-height-xxl: 34px;*/
}
