<section class="commit section_space-v_l">
  <div class="commit__wrapper  section_indent-b_m">
    <a class="commit__back" href="/"><span class="commit__back-icon text_view_ghost">Back</span> <span class="commit__to-commit section_space-v_xs section_space-h_s text_view_primary">Show files at commit</span></a>
    <div class="commit__title">
      <div class="commit__text text_size_xl text_weight_bold section_indent-b_xs">title of commit</div>
      <div class="commit__info">
        <span>Last commit <a href="/" class="repository__commit-hash text_view_link">c4d288</a></span>
        on <span class="text_view_link">19 Sept 2019, 23:23</span>
        by <span class="text_view_name">Pavel Deev</span>
      </div>
    </div>
  </div>
  <div class="commit__code-wrapper section_space-h_s section_space-v_s">
    text/path
  </div>
</section>
