<section class="history section_space-h_m">
  <div class="history__block">
    <div class="history__date text_view_ghost text_size_l text_weight_bold section_indent-b_s">Today</div>
    <ul class="history__list">
      <li class="history__item text_size_s section_indent-b_s">
        <div class="history__content-wrapper">
          <div class="history__title text_size_m text_weight_bold section_indent-b_xs">commit title</div>
          <div class="history__text section_indent-b_xs">commit text very very very very very very long</div>
          <a class="history__hash text_view_link">s83l23</a>
          by <span class="history__committer text_view_name">anybodyname</span>
          <span class="history__commit-data">4 years ago</span>
        </div>
        <a href="/" class="history__double-hash text_view_link">s83l23</a>
        <div class="history__link"></div>
      </li>
      <li class="history__item text_size_s section_indent-b_s">
        <div class="history__content-wrapper">
          <div class="history__title text_size_m text_weight_bold section_indent-b_xs">commit title</div>
          <div class="history__text section_indent-b_xs">commit text very very very very very very long</div>
          <a class="history__hash text_view_link">s83l23</a>
          by <span class="history__committer text_view_name">anybodyname</span>
          <span class="history__commit-data">4 years ago</span>
        </div>
        <a href="/" class="history__double-hash text_view_link">s83l23</a>
        <div class="history__link"></div>
      </li>
      <li class="history__item text_size_s section_indent-b_s">
        <div class="history__content-wrapper">
          <div class="history__title text_size_m text_weight_bold section_indent-b_xs">commit title</div>
          <div class="history__text section_indent-b_xs">commit text very very very very very very long</div>
          <a class="history__hash text_view_link">s83l23</a>
          by <span class="history__committer text_view_name">anybodyname</span>
          <span class="history__commit-data">4 years ago</span>
        </div>
        <a href="/" class="history__double-hash text_view_link">s83l23</a>
        <div class="history__link"></div>
      </li>
    </ul>
  </div>
</section>
