.repository__branch-name {
  padding-left: 20px;
}

.repository__branch-name::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;

  transform: translateY(-60%);

  display: block;
  width: 12px;
  height: 20px;

  /*background: url("./common_blocks/repository/__branch-list/img/branch-icon.svg") no-repeat center;*/
  background: url("./img/branch-icon.svg") no-repeat center;
}
