@import "./_align-v/_center.css";
@import "./_align-h/_left.css";
@import "./_align-h/_right.css";

@import "./_size/_s.css";
@import "./_size/_m.css";
@import "./_size/_l.css";
@import "./_size/_xl.css";
@import "./_size/_xxl.css";

@import "./_view/_primary.css";
@import "./_view/_secondary.css";
@import "./_view/_ghost.css";
@import "./_view/_link.css";
@import "./_view/_name.css";

@import "./_height/_normal.css";

@import "./_weight/_normal.css";
@import "./_weight/_bold.css";

@import "./_transform/_uppercase.css";

:root {
  font-family: Arial, sans-serif;
}
