<div class="choose-branch section_indent-b_s">
  <ul class="choose-branch dropdown-list">
    <li class="dropdown-list__head-wrapper text_size_xl">
      <div class="dropdown-list__title text_size_xl text_weight_bold">arcadia</div>
      <div class="dropdown-list__current-title text_size_xl">current title</div>
    </li>
    <li class="branch-item branch-item_current dropdown-list__current-item"><a href="" class="dropdown-list__link text_size_xl">current</a></li>
    <li class="branch-item dropdown-list__item"><a href="" class="dropdown-list__link">item</a></li>
  </ul>
</div>
