.ChooseBranch {
  position: relative;
}

.ChooseBranch-Header {
  position: relative;

  display: inline-block;
  margin-bottom: 10px;

  cursor: pointer;
}

.ChooseBranch-Header::before {
  content: '';

  position: absolute;
  right: -20px;
  top: 50%;

  transform: translateY(-50%);

  width: 9px;
  height: 12px;

  background: url('./img/arrow.svg') no-repeat center;

  transition: all 0.2s;
}

.ChooseBranch-Header_state_opened::before {
  transform: translateY(-50%) rotate(180deg);
}

.ChooseBranch-Title {
  margin-right: 4px;
}

.ChooseBranch-BranchName {
}

.ChooseBranch-Name {
}

.ChooseBranch-Time {
}

.ChooseBranch-List {
  position: absolute;
  top: 100%;
  left: 35px;

  display: none;
  min-width: 320px;
  max-height: 360px;
  padding: 0;
  margin: 0;

  background: var(--bg-color-common);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);

  overflow-y: auto;
  z-index: 2;
}

.ChooseBranch-Item {
  background: var(--bg-color-common);
}

.ChooseBranch-List_state_opened {
  display: block;
}

.ChooseBranch-Item:hover {
  background: var(--color-gray-ghost);
}

.ChooseBranch-Item_state_active,
.ChooseBranch-Item_state_active.ChooseBranch-Item:hover {
  & .ChooseBranch-Name {
    color: var(--text-color-white);
  }

  & .ChooseBranch-Time {
    color: var(--text-color-pale);
  }

  background: var(--color-accent-gray);
}

.ChooseBranch-Info {
}
