.repository__name {
  padding-left: 20px;

  text-decoration: none;

  cursor: pointer;
}

.repository__link {
  text-decoration: none;

  cursor: pointer;
}

.repository__name::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;

  transform: translateY(-60%);

  display: block;
  width: 12px;
  height: 20px;

}

.repository__name_type_dir::before {
  //background: url("./common_blocks/repository/__dir-list/img/folder.svg") no-repeat center;
}

.repository__name_type_file {
  //background: url("./common_blocks/repository/__dir-list/img/file-icon.svg") no-repeat left center;
}

.repository__name::before {
}
