.File {
  margin-top: 20px;
}

.File-Header {
  display: flex;
  justify-content: flex-start;

  background-color: var(--color-gray-ghost);
  border-radius: 5px 5px 0 0;
}

.File-Name {
  position: relative;

  padding-left: 17px;
  margin-right: var(--space-xxs);
}

.File-Name::before {
   content: "";

   position: absolute;
   left: 0;
   top: -2px;

   width: 9px;
   height: 20px;
   background: url("./img/file-icon.svg") no-repeat center;
 }

.File-CodeSection {
  padding-left: var(--space-m);
  padding-top: var(--space-xs);

  overflow-x: auto;
}

.File-Size {
  margin-left: 8px;
}
